.movies {
  margin: 0 auto;
  padding: 80px 0 64px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  row-gap: 37px;
  column-gap: 28px;
}

@media (max-width: 768px) {
  .movies {
    column-gap: 24px;
    row-gap: 41px;
    padding-bottom: 83px;
  }
}

@media (max-width: 380px) {
  .movies {
    row-gap: 15px;
    padding: 49px 0 79px;
  }
}
