.toggle {
  display: flex;
  column-gap: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.toggle__invisible-checkbox {
  clip-path: insert(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.toggle__visible-checkbox {
  background: #343434;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 20px;
  position: relative;
  width: 36px;
}

.toggle__visible-checkbox:hover {
  opacity: 0.8;
}

.toggle__visible-checkbox::after {
  content: '';
  background: #a0a0a0;
  border-radius: 50%;
  top: 6px;
  right: 22px;
  height: 8px;
  width: 8px;
  position: absolute;
  transition: 0.3s;
}

.toggle__invisible-checkbox:checked + .toggle__visible-checkbox {
  background: #3ddc84;
}

.toggle__invisible-checkbox:checked + .toggle__visible-checkbox::after {
  transform: translateX(16px);
  background: #fff;
}

@media (max-width: 450px) {
  .toggle {
    column-gap: 13px;
    font-size: 11px;
  }
}
