.form__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #8b8b8b;
}

.form__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 10px;
  border: none;
  border-bottom: #424242 1px solid;
  background-color: transparent;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__input:focus {
  outline: 1px solid #f9f9f9;
  border-radius: 4px;
}

.form__input_type_incorrect {
  color: #FF3055;
}
